@import './Global.scss';
$progressWidth: 25px;

.side-bar{
  @include breakpoint("desktop"){
    border-left: 1px $secondaryColor solid;
  }
}

.progress{
  display: grid;
  justify-items: center;
&_bottom{
  background-color:rgba(white,0.5);
  height:$progressWidth;
  border-radius:50px;
  width:80%;
}
  &_top{
    background:linear-gradient(336deg,$secondaryColor, $hotPink);
    height: $progressWidth;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: left;
    font-weight: 600;
    padding-left: 20px;
  }
}
.skill-name{
  display: block;
  padding-left: 20px;
}

.greet{
  text-align: center;
  &_icon{
    color:$secondaryColor;
    margin:1em;
  }
  &_subtitle{
    margin-bottom:0.6em;
  }
}