// $primaryColor:#FAF2EB;
$secondaryColor:#F9D138;
$darkThemeColor:#705973;
$themeColor:#BA93BF;
// $cream:#F1E7DD;

$cream: #5c4b48;
$themeOne: #99A580;
$themeTwo:#EED492;
$themeThree: #A58780;


// NEW ADDED COLORS
// $cream:#141414;
// $themeThree:#323232;
$primaryColor: #FFFBF5;
$divider: #EBDFD7;

@mixin breakpoint($point){
  @if($point=="mobile"){
    @media (max-width:679px){
      @content;
    }
  }
  @else if($point=="tablet"){
    @media (min-width:681px){
      @content;
    }}
    @else if($point=="desktop"){
      @media (min-width:821px){
        @content;
      }
}
}

@mixin prefix ($properity, $value, $prefixes){
 @each $prefix in $prefixes {
   -#{$prefix}-#{$properity}:$value;
 }
 #{$properity}:$value;
}
html{
  font-size: 16px;
}
body{
  background-color: $primaryColor;
  box-sizing: border-box;
  margin:0;
  color:$cream;
  font-family: 'Montserrat', sans-serif;
  p{
    font-weight: 400;
  }
}
h2,h3,h4,h5{
  margin:0;
  letter-spacing: 1px;
  line-height:1.5;  
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: clamp(18px, 2vw, 23px);
}
h3{
  font-size: clamp(1.21rem, 2.5vw, 1.45rem);
}
h4{
  font-size: clamp(1.23rem, 2vw, 1.26rem);
}
h5{
  font-size: clamp(1.18rem, 2vw, 1.22rem);
}
p{
  font-size:clamp(14px, 2.5vw, 16px);
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height:1.7;  
}
ul{
  padding: 0;
}
li{
  list-style: none;
  p{
    margin:0;
  }
}
.home-intro{
  @include breakpoint('desktop'){
    height: 100vh;
  }
}
.side-margin{
  position: relative;
  justify-items: center;
  align-items: center;
  margin-top:3.8em;
  @include breakpoint("tablet"){
    max-width: 800px;
  }
  @include breakpoint("desktop"){
    max-width: 1250px;
  }
}
.top-margin{
  margin-top:6em;
}
.magrin-top-bottom{
  margin-bottom:20px;
  margin-top:15px;
  justify-content:center;
  justify-items:center;
}

.line{
  display:inline-block;
  padding: 0.8em 0;
  margin:0 auto;
  text-align: center;
  font-weight: 500;
  font-size: clamp(17px, 5vw, 35px);
  // color:darken($themeThree, 10%);
  color:$cream;
}
.header-subtitle{
  font-size: 17px;
}
.highlight-title{
//  color: darken($themeThree, 10%);
color:$cream;
 font-weight: 500;
 margin-bottom: 0;
}

.btn-style{
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500;
    padding: 16px 16px;
    background-color: $themeTwo;
    margin-right: 1.2em;
    margin-bottom: 1em;
    color:darken($themeThree, 10%);
    min-width: 120px;
    position: relative; 
    border:none;
    text-decoration: none;
    transition: all 0.4 ease-in;
    border-radius: 50px;
}
.btn-style:hover{
  box-shadow: 3px 6px 20px rgba(rgb(82, 82, 82), 0.2);
}
.animate-btn span{
  position: relative;
  z-index: 3;
  // font-weight: 600;
}
.animate-btn::before{
  content: "";
  z-index: 2;
  position: absolute;
  background-color:darken($themeTwo, 10%);
  top:0;
  left:0;
  border-radius: 50px;
  width: 0%;
  height: 100%;
  transition: all 0.4s ease-in;
}
.animate-btn:hover::before{
  width: 100%;
}
.btn-link{
  @extend .btn-style;
  text-decoration: none;
  display: inline-block;
  width: 160px;
  margin:1.5em 2em;
  font-size: 16px;
  text-align: center;
}
.text-center{
  text-align: center;
  margin-top:1.5em;
  margin-bottom: 0.5em;
}
.role{
  display: inline-block;
  margin-left: 1em;
  &::before{
    content:" ";
    border-radius:50%;
    margin-right: 5px;
    display: inline-block;
    height:12px;
    width:12px;
    background:linear-gradient($themeTwo, $secondaryColor)
  }
}
.icon-size{
  width: 60px;
}
.diagram{
  @include breakpoint("mobile"){
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
  li{
    width: 300px;
    text-align: center;
    margin-right: 3em;
  }
}
.video-wrapper{
  margin: 50px 10px;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}
.video{
  position: absolute;
  top: 0;
  left: 0;
}
.large-font{
  font-weight: 800;
  width:clamp(22px, 2vw, 48px);
}
.mdl-grid{
  justify-content: center !important;
}
