@import './Global.scss';
.title{
  position: relative;
  margin:150px auto 150px auto;
  width: 350px;
  border-radius: 50%;
 p{
   font-size: 18px;
 }
}
.name{
  font-size: clamp(1.5rem, 2vw, 2rem);
  // color:$hotPink;
}
// .pink-ball{
//   content:" ";
//   position:absolute;
//   top: 10px;
//   right:25%;
//   border-radius:50%;
//   display: inline-block;
//   height:80px;
//   width:80px;
//   z-index: -1;
//   background-color:rgba($hotPink, 0.8) ;
// }
.ball{
  content:" ";
  position:absolute;
  bottom: 10px;
  left: 25%;
  border-radius:50%;
  display: inline-block;
  height:20px;
  width:20px;
  background: $hotPink;
}
h4{
  position: relative;
}
h4::before{
  margin-right: 20px;
  content:" ";
  // border-radius:50%;
  margin-right: 10px;
  display: inline-block;
  height:30px;
  width:8px;
  background: $hotPink
  
}
.intro{
  @include breakpoint("tablet"){
    max-width: 700px;
    margin:0 auto 100px auto;
  }
  p{
    margin-top:15px;
  }
}
