@import './Global.scss';
.title{
  position: relative;
  z-index: 2;
  margin:3em auto 2em 0;
  display: grid;
  justify-items: center;
  // @include breakpoint('tablet'){
  //   margin:20vh auto 150px 0;
  // }
 p{
   font-size: clamp(16px, 2vw, 18px);
 }
}
.name{
  // background:$primaryColor;
  font-size: clamp(3rem, 2vw, 6rem);
  font-weight: 800;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  // color:$themeColor;
}
.name span{
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.profile-img{
  display: flex;
  justify-content: center;
  position:relative;
  max-width: 380px;
  min-width: 280px;
  width: 100%;
  margin:0 auto;
 img{
  width: 100%;
  max-width: 380px;
  min-width: 280px;
  opacity: 0;
 }
}
.ball{
  content:" ";
  position:absolute;
  bottom: 10px;
  left: 25%;
  border-radius:50%;
  display: inline-block;
  height:20px;
  width:20px;
  background: $themeColor;
}
h4{
  position: relative;
}
h4::before{
  content:" ";
  position: absolute;
  bottom: -5px;
  left: 10px;
  width:60px;
  height: 3px;
  border-radius:50px;
  background:$themeColor;
  margin-right: 10px;
  display: inline-block;
}
.intro{
  max-width: 700px;
  margin:2em auto 2em auto;
  font-weight: 400;
  p{
    overflow: hidden;
    // background: $primaryColor;
  }
 span{
   opacity:0;
   display: inline-block;
   transform: translateY(100%);
 }
}
.home-btn-group{
  height: 200px;
}
.link-content{
  position:relative;
  top:0;
  left:0;
  @include breakpoint("desktop"){
  left:30vw;
  }
  h1{
    position: absolute;
    font-size: clamp(3rem, 5vw, 20rem);
    font-weight: 700;
    opacity: 0.8;
    &:nth-child(1){
      // color:#d1aaa2;
      -webkit-text-stroke:1px $themeTwo;
       color: transparent;
      
    }
  }
  .animate-text{
    -webkit-text-stroke:1px #A58780;
    // opacity: 0.4;
    // color:#d1aaa2;
    color: transparent;
    opacity: 0;
  }
}
.link-content-ux{
  @extend .link-content;
  // margin-top:20px;
  // padding-bottom:80px;
  top:50px;
  left: 30vw;
  @include breakpoint('mobile'){
  left:0;
  }
}
#two-rings{
  position: absolute;
  display: flex;
  justify-content: center;
  top:0;
  left: 0;
  width: 100%;
  max-width: 380px;
  min-width: 280px;
}
.ring{
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  fill:transparent;
  stroke:#a58780;
  stroke-miterlimit:10;
  animation: dash 3s linear forwards;
}
@keyframes dash {
  from{
    stroke-dashoffset: 1;
  }
  to{
    stroke-dashoffset: 0;
  }
}
