@import './Global.scss';
.title{
  position: relative;
  z-index: 2;
  margin:3em auto 2em 0;
  display: grid;
  justify-items: center;
  @include breakpoint('tablet'){
    margin:20vh auto 150px 0;
  }
 p{
   font-size: clamp(16px, 2vw, 18px);
 }
}
.name{
  // background:$primaryColor;
  font-size: clamp(3rem, 2vw, 6rem);
  font-weight: 400;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Comfortaa', cursive, Arial;
  overflow: hidden;
  // color:$themeColor;
}
.name span{
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.ball{
  content:" ";
  position:absolute;
  bottom: 10px;
  left: 25%;
  border-radius:50%;
  display: inline-block;
  height:20px;
  width:20px;
  background: $themeColor;
}
h4{
  position: relative;
}
h4::before{
  content:" ";
  position: absolute;
  bottom: -5px;
  left: 10px;
  width:60px;
  height: 3px;
  border-radius:50px;
  background:$themeColor;
  margin-right: 10px;
  display: inline-block;
}
.intro{
  max-width: 700px;
  margin:2em auto 2em auto;
  font-weight: 400;
  p{
    overflow: hidden;
    // background: $primaryColor;
  }
 span{
   opacity:0;
   display: inline-block;
   transform: translateY(100%);
 }
}
.home-btn-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1em;
  margin-top:3em;
  opacity: 0;
  transform: translateY(-100px);
  button{
    margin-top:2em;
  }
}
