@import './Global.scss';

.all-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap !important;
  width: 400%;
  overflow: hidden;
  height: 80vh;
  background-color: white;
}
.project-wrapper{
  // margin-bottom: 2em;
  position: relative;
  width: 100%;
  display: grid;
  background-color: white;
  @include breakpoint("desktop"){
    grid-template-columns: 60% 40%;
    align-items: center;
  }
}
.content-wrapper{
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
   @include breakpoint("desktop"){
     margin:1em 3em 5em;   
     overflow: inherit; 
   }
  .overlay {
    position: absolute;
    bottom:0;
    width: 100%;
    overflow: hidden;
    // @include breakpoint("desktop"){
    //   top:20%;
    //   left: -15%;
    //   max-width: 500px;
    //   width: 100%;
    //   background-color: transparent;
    //   backdrop-filter: blur(0px);
    //   h6{
    //     line-height: 1.5;
    //   }
    // }
  }
}
.text {
  color:$themeThree;
  text-align: center;
  padding: 0.2em;
  margin:1em 0;
  h3{
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
  }
  P{
    font-weight: 500;
    font-size:clamp(0.8rem, 2vw, 1rem);
  }
}
.description{
  color:darken($color: $themeThree, $amount: 10);
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(10px);
  padding:0.6em 0;
  h6{
    font-weight: 600 !important;
    font-size: clamp(0.9rem, 2vw, 2.5rem);
    margin:0.6em 0 0 0;
    // padding: 0.6em 0;
  }
}
.img-container{
  // visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  max-height: 550px;
  object-fit: contain;
  transform-origin: left;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s 0.4s ease-out;
  @include breakpoint("tablet"){
    object-fit: cover;
  }
}
.subtitle{
  font-weight: 400;
  font-size: clamp(0.9rem, 2vw,1.3rem);
  margin:0 !important
}
.btn-group{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1em;
  @include breakpoint('tablet'){
    // justify-content: flex-end;
    margin:1em;
  }
}
.bg-circle{
  padding:1em 0.6em;
  background-color: $themeTwo;
  border-radius:500px;
  position: absolute;
  z-index:3;
  top:0;
  left:0;
  font-size: clamp(2rem, 5vw, 8rem);
  text-align: center;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke:1px $themeThree;
  @include breakpoint("desktop"){
    left: -15%;
  }
}
.ux-hero-wrapper{
  position: relative;
  overflow: hidden;
  max-height: 500px;
  width: 100%;
}
.ux-hero-holder{
  overflow: hidden;
}
.ux-hero{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  transition: transform 0.5 ease-in-out;
}
.img-animation{
  opacity: 1;
  transform: translateX(0);
}