@import './Global.scss';

.nav-container{
  margin-top: 0;
  width: 100%;
  height: 70px;
  background:$primaryColor;
  position:fixed;
  top:0;
  z-index: 80;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img{
    margin:0.3em;
    width:100%;
    max-width: 70px;
    position:absolute;
    top: 0;
    left:0;
  }
  a,span{
    display: inline-block;
    text-decoration: none;
    color:$secondaryColor;
    margin-right: 13px;
    @include breakpoint("tablet"){
      margin-right: 50px;
    }
    font-weight: 700;
  }
}
.is-active{
  span{
    text-decoration: line-through;
    font-weight: 700;
  }
}
.fa{
  color:$secondaryColor;
}
.nav-item{
  font-size: clamp(15px, 1.5vw, 16px);
}
.menu{
  display: none;
  @include breakpoint("mobile"){
    display: flex;
    margin-right: 1em;
    flex-direction: column;
    div{
      width: 40px;
      height: 5px;
      border-radius: 50px;
      background-color: $hotPink;
      margin:0.3em;    
    }
  }
}
.open{
  transform: translateX(0px);
  transition: transform 0.2s ease-out;
}
.close-positive{ 
  transition: transform 0.2s ease-out;
  transform: translateX(10px);
}
.close-negative{
  transition: transform 0.2s ease-out;
  transform: translateX(-10px);
}

.show-menu{
     display: flex;
      flex-direction: row;
  @include breakpoint("mobile"){
    flex-direction: column;
    background-color:rgba($darkpink,0.9);
    // margin-top:100px;
    position: absolute;
    z-index: 500;
    top: 0;
    left:0;
    padding-left: 50px;
    height: 100vh;
    width: 30vw;
    transition: width 0.2s ease-out;
    justify-content: space-evenly;
  }
}
.hide-menu{
  @include breakpoint("mobile"){
    // display: none;
    width: 0;
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
}