.sunnyop-bg{
  background: url('../assect/imgs/sunnyop-hero.png') center no-repeat;
  background-size: cover;
  height: 600px;
  width: 100vw;
  position: relative;
  >div{
    background-color: rgba(#3d3d3d,0.7);
    position:absolute;
    top:0;
    left: 0;
    z-index: 5;
    height: 600px;
    width: 100vw;
  }
}
.thick-font{
  font-weight:600;
}