@import './Global.scss';

.hero-wrap{
  height: 470px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  img{
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  >div{
    background-color: rgba(#3d3d3d,0.75);
    position:absolute;
    top:0;
    left: 0;
    z-index: 5;
    height: 470px;
    width: 100vw;
  }
}

.project-title{
  position:absolute;
  text-align: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  color:white;
  transform: translate(-50%, -50%);
}

.img-size{
  width:100%;
  max-width: 630px;
  margin:1em;
}
.large-img{
  width: 100%;
  display: block;
  max-width: 960px;
  margin: 1.5em auto;
}
.thick-font{
  font-weight:700;
}