$prmaryColor:#0B154A;
$secondaryColor:#EFCF48;
$hotPink:#E96498;
$cream:#FFF1D4;


body{
  background-color: $prmaryColor;
  box-sizing: border-box;
  margin:0;
  color:$cream;
  font-family: 'Open Sans', sans-serif;
}
h2,h3,h4{
  color:$secondaryColor;
  @extend h5
}
h5{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
h2{
  font-size: clamp(1.7rem, 0.8vw, 1.75rem);
}
h3{
  font-size: clamp(1.31rem, 2.5vw, 1.45rem);
}
h4{
  font-size: clamp(1.125rem, 2vw, 2rem);
}
h5{
  font-size: clamp(1.18rem, 2.5vw, 1.125rem);
}
p{
  font-size:clamp(1.15rem, 2.5vw, 1.25rem);
  font-weight: 300;
  line-height:1.8;  
}
li{
  list-style: none;
}
.side-margin{
  margin:1em;
}
.magrin-top-bottom{
  margin-bottom:20px;
  margin-top:15px;
  justify-content:center;
  justify-items:center;
}
.long-line{
  border-bottom:1px solid $secondaryColor;
  font-weight: 800;
  text-align: center;
}
.line{
  display: inline-block;
  @extend .long-line;
}

@mixin breakpoint($point){
  @if($point=="mobile"){
    @media (max-width:679px){
      @content;
    }
  }
  @else if($point=="tablet"){
    @media (min-width:680px){
      @content;
    }}
    @else if($point=="desktop"){
      @media (min-width:681px){
        @content;
      }
}
}

@mixin prefix ($properity, $value, $prefixes){
 @each $prefix in $prefixes {
   -#{$prefix}-#{$properity}:$value;
 }
 #{$properity}:$value;
}


